@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#2980b9;
    --blue:#2980b9;
    --black:#333;
    --white:#fff;
    --light-color:#777;
    --light-bg:#eee;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
}


*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.7rem;
}

html::-webkit-scrollbar-track{
    background:#fff;
}

html::-webkit-scrollbar-thumb{
    background:var(--green);
}

body{
    background:#eee;
    padding-right: 5rem;
}

section{
    padding:2rem 9%;
    min-height: 100vh;
}


.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color:#222;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#222;
    color:#fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background:var(--green);
    letter-spacing: .2rem;
}

header{
    position: fixed;
    top:0; right:0;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    z-index: 1000;
}

header .navbar{
    writing-mode: vertical-lr;
    padding:1.5rem;
}

header .navbar a{
    padding:1.5rem;
    font-size: 2rem;
    color:#222;
}

header .navbar a:hover{
    color:var(--green);
}

#menu-bars{
    position: fixed;
    z-index: 10000;
    top:1rem; left:1rem;
    padding:1rem 1.5rem;
    border-radius: .5rem;
    color:#fff;
    background: var(--green);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js{
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img{
    height: 20rem;
    width:20rem;
    border-radius: 50px;
    object-fit: cover;
    border:1rem solid var(--green);
}

.home .content h3{
    font-size: 4rem;
    color:#222;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--green);
    text-transform: uppercase;
}

.home .content p{
    color:#222;
    font-size: 2.5rem;
    line-height: 2;
}


.about1 .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;

}


.about1 .row .content{
    flex:1 1 55rem;
}

.about1 .row .content h3{
    color:#222;
    font-size: 4rem;
}

.about1 .row .content h3 span{
    color:var(--green);
}

.about1 .row .content .info{
    color:#333;
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 2;
}

.about1 .row .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding:1rem 0;
    padding-bottom: 4rem;
}

.about1 .row .content .box-container .box{
    flex:1 1 20rem;
}

.about1 .row .content .box-container .box p{
    font-size: 1.7rem;
    color:#222;
    padding:.5rem 0;
    line-height: 2;
}

.about1 .row .content .box-container .box p span{
    color:var(--green);
}

.about1 .heading {
  font-size: 5rem;
  text-align: center;
  color: #333;
  margin: 4rem 0;
  padding-top: 6rem;
  position: relative;
}

.about1 .heading::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 30rem;
  background: #333;
}
/* payung tambah  */


.about .info {
  padding: 0 1rem;
}

.about .info h2 {
  font-size: 3rem;
  color: #225687;
}
.about .info h3 {
  font-size: 2rem;
  color: #222;
}

.about .info p {
  font-size: 3rem;
  color: #333;
  padding-bottom: 1rem;
}

.about .info .skill-bar h3 {
  margin-top: 3rem;
}

.about .info .skill-bar h3 span {
  display: block;
  text-align: end;
}

.about .info .skill-bar .bar {
  width: 100%;
  height: 2rem;
  background: #ccc;
  position: relative;
}

.about .info .skill-bar .bar span {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: #225687;
}

.about .info .skill-bar .bar1 span {
  width: 75%;
}

.about .info .skill-bar .bar2 span {
  width: 45%;
}

.about .info .skill-bar .bar3 span {
  width: 65%;
}

.about .info .skill-bar .bar4 span {
  width: 35%;
}

/* payung tambah  */
.education {
  min-height: 100vh;
  background: #eee;
}

.education .heading {
  font-size: 5rem;
  text-align: center;
  color: #222;
  margin: 3rem 0;
  padding-top: 6rem;
  position: relative;
  color: #222;
}



.education .box {
  height: 23rem;
  width: 100%;
  padding-left: 2.5rem;
  border-left: .1rem solid #333;
  position: relative;
}

.education .box::after {
  content: '';
  position: absolute;
  top: .5rem;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  background: #222;
  border-radius: 5rem;
}

.education .box .year {
  color: #222;
  font-size: 2.5rem;
}

.education .box h3 {
  font-size: 2rem;
  color: var(--green);
  margin: 1rem 0;
}

.education .box p {
  color: #222;
  font-size: 1.5rem;
}



.service .heading {
  font-size: 6rem;
  text-align: center;
  color: #333;
  margin: 4rem 0;
  padding-top: 6rem;
  position: relative;
}

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin: 20px;
    padding-bottom: 12rem;

}

.services .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1rem;
    text-align: center;
}

.services .box-container .box i{
    color:var(--green);
    font-size: 5rem;
    padding:1rem 0;
}

.services .box-container .box h3{
    color:#222;
    font-size: 2.5rem;
    padding-top:1rem;
}

.services .box-container .box p{
    color:#333;
    font-size:1.7rem;
    padding:1rem 0;
    line-height: 2;
}

.services .box img{
  height: 50px;
  margin-bottom: 10px;
}


.blogs .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 2rem;
}

.blogs .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem;
}

.blogs .box-container .box img{
    height:20rem;
    width:100%;
    border-radius: .5rem;
    object-fit: cover;
}

.blogs .box-container .box h3{
    color:var(--green);
    font-size: 2.5rem;
    padding:.5rem 0;
}

.blogs .box-container .box p{
    color:#666;
    font-size: 1.5rem;
    padding:.5rem 0;
}

/* payung tambah  */

.container .information .experience{
  margin:50px 0;
}

.container .information .experience .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container .information .experience .box-container .box{
  padding:20px;
  border-radius: 5px;
  flex:1 1 350px;
  background: #fff;
}

.container .information .experience .box-container .box span{
  color:var(--blue);
  font-size: 15px;
}

.container .information .experience .box-container .box h3{
  color:var(--black);
  font-size: 17px;
  padding:5px 0;
}

.container .information .experience .box-container .box p{
  color:var(--light-color);
  line-height: 2;
  font-size: 13px;
}





.contact .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: none;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex:1 1 40rem;
    padding:1rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    background:#fff;
}

.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea{
    width:100%;
    border-radius: .5rem;
    font-size: 1.7rem;
    color:#333;
    padding:1rem;
    margin:1rem 0;
    border:.1rem solid rgba(0,0,0,.1);
    text-transform: none;
}

.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--green);
}

.contact .row form .inputBox input{
    width:49%;
}

.contact .row form textarea{
    height:20rem;
    resize: none;
}

.contact .row form .btn{
    margin:.5rem 0;
}

.footer{
    padding:2.5rem;
    font-size: 2rem;
    color:##fff ;
    background:#222;
    text-align: center;

}

.footer span{
    color:var(--green);
}

.footer p{
  color: #fff;
}







/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }

    section{
        padding:2rem;
    }

    header{
        width:100%;
        left:-120%;
    }

    header.active{
        left:0%;
    }

    #menu-bars{
        display: initial;
    }

    header .navbar{
        writing-mode: horizontal-tb;
    }

    header .navbar a{
        display: block;
        font-size: 3rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 4rem;
    }

    .contact .row form .inputBox input{
        width:100%;
    }

}
